<nav class="page-sidebar" data-pages="sidebar">
  <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
  <div class="sidebar-overlay-slide from-top" id="appMenu">

  </div>
  <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
  <!-- BEGIN SIDEBAR MENU HEADER-->
  <div class="sidebar-header">
    <img src="<%= image_path('logo_white.png') %>" alt="logo" class="brand" data-src="<%= image_path('logo_white.png') %>" data-src-retina="<%= image_path('logo_white_2x.png') %>" width="78" height="22 ">
    <div class="sidebar-header-controls">
      <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
      </button>
      <button type="button" class="btn btn-link hidden-sm-down" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
      </button>
    </div>
  </div>
  <!-- END SIDEBAR MENU HEADER-->
  <!-- START SIDEBAR MENU -->
  <div class="sidebar-menu">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <ul class="menu-items">
      <li class="m-t-30">
        <a href="javascript:;">
          <span class="title">Reuniões</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail bg-success"><i class="fa fa-clock-o"></i></span>
        <ul class="sub-menu">
          <li class="">
            <%= link_to "Calendário", events_path %>
            <span class="icon-thumbnail"><i class="fa fa-calendar"></i></span>
          </li>
          <li class="">
            <a href="#">Minhas reuniões</a>
            <span class="icon-thumbnail"><i class="fa fa-list"></i></span>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to forums_path do %>
          <span class="title">Forum</span>
        <% end %>
        <span class="icon-thumbnail"><i class="fa fa-institution"></i></span>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</nav>
