<div class="panel panel-default">
  <div class="panel-heading">
    <p><%= comment.body %></p>
    <p class="text-muted">Added by <strong><%= comment.user.name %></strong> on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

    <%= link_to 'Excluir',
                  comment,
                  method: :delete,
                  class: 'btn btn-danger pull-right delete_comment',
                  remote: true if current_user == comment.user %>
    <%= link_to 'Responder',
                  comment,
                  method: :delete,
                  class: 'btn btn-info',
                  remote: true %>
  </div>
  <div class="panel-body">
    <% comment.subcomments.each do |comment| %>
      <hr>
      <div class="col-offset-2">
        <p><%= comment.body %></p>
        <p class="text-muted">Added by <strong><%= comment.user.name %></strong> on
        <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>
      </div>
    <% end %>

    <%= render partial: "comments/form", locals: { comment: @task.comments.new(ancestry: comment.id, user: current_user) } %>
  </div>
</div>
