<div class="modal fade fill-in" id="eventForm" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
  <div class="modal-dialog modal-event">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <%= simple_form_for @event, remote: true, input_html: { id: "event_form" } do |f| %>
          <%= f.input :user_id, as: :hidden %>
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="pg-close fs-14"></i>
            </button>
            <h3>Nova reunião</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="card card-default">
                  <div class="card-block">
                    <div class="row">
                      <div class="col-md-6">
                        <%= f.input :forum_id, collection: Forum.all, wrapper_html: { class: 'form-group-default-select2' } %>
                      </div>
                      <div class="col-md-6">
                        <%= f.input :number, readonly: true, placeholder: "número será preenchido após salvar" %>
                      </div>
                      <div class="col-md-12">
                        <%= f.input :title %>
                      </div>
                      <div class="col-md-12">
                        <%= f.input :description, as: :text %>
                      </div>
                      <div class="col-md-12">
                        <%= f.input :date_range, input_html: { class: "form-control input-sm date-range-picker", id: "event_date_range" } %>
                        <%= f.input_field :start_at, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
                        <%= f.input_field :end_at, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
                      </div>

                      <div class="col-md-6">
                        <%= f.input :president_id, collection: User.all, label_method: :name, value_method: :id, wrapper_html: { class: 'form-group-default-select2' }, input_html: { class: 'trigger-change'} %>
                      </div>
                      <div class="col-md-6">
                        <%= f.input :secretary_id, collection: User.all, label_method: :name, value_method: :id, wrapper_html: { class: 'form-group-default-select2' }, input_html: { class: 'trigger-change'} %>
                      </div>

                      <div class="col-md-12">
                        <%= f.input :address %>
                      </div>
                      <div class="col-md-6">
                        <%= f.input :location %>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <%= f.label :situation %>
                          <div class="radio radio-success m-t-0 m-b-0">
                            <%= collection_radio_buttons(:event, :situation, Event::SITUATION.collect { |x| [x, t("event.situation.#{x}")] }, :first, :last) do |b| %>
                              <%= b.radio_button %>
                              <%= b.label do %>
                                <%= b.text %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <%= f.input :color, as: :select, collection: [['Preto','black'], ['Verde','green'], ['Vermelho','red']], wrapper_html: { class: 'form-group-default-select2' } %>
                      </div>
                      <div class="col-md-6">
                        <% if current_user.id == @event.user_id %>
                          <%= link_to 'Excluir',
                                      @event,
                                      method: :delete,
                                      class: 'btn btn-danger pull-right m-t-10',
                                      remote: true unless @event.new_record? %>
                          <%= f.button :submit, class: 'pull-right m-t-10 m-r-10' %>
                        <% end %>
                      </div>
                    </div>
                    <h4 class="progress" style="display: none">Progress: <span class="progress_count"></span>%</h4>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card card-default">
                  <div class="card-block">
                    <div class="row">
                      <h4>Participantes da reunião</h4>
                      <div class="col-md-12">
                        <%= f.association :users, collection: User.all, label_method: :name, value_method: :id, wrapper_html: { class: 'form-group-default-select2' } %>
                      </div>
                    </div>
                    <div class="row">
                      <h4 class="sub-title"> Assuntos da reunião </h4>
                      <div id="subjects" >
                        <%= f.simple_fields_for :subjects do |subject| %>
                          <%= render 'subject_fields', f: subject %>
                        <% end %>
                        <div class='links'>
                          <%= link_to_add_association 'Adicionar assunto', f, :subjects, class: 'btn btn-default btn-cons' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
