<div class="nested-fields row m-b-10">
  <%= f.hidden_field :manager_id, :value => @task.manager_id %>
  <div class="col-md-12">
    <%= f.input :title %>
  </div>
  <div class="col-md-12">
    <%= f.input :description %>
  </div>
  <div class="col-md-6">
    <%= f.association :users, collection: User.all, label_method: :name, value_method: :id, wrapper_html: { class: 'form-group-default-select2' } %>
  </div>
  <div class="col-md-6">
    <%= f.input :delivery_date, :as => :string, :input_html => { :class => "date-picker", :value => (f.object.delivery_date) ? localize(f.object.delivery_date) : Time.now.strftime("%d/%m/%Y") } %>
  </div>
  <div class="col-md-6">
    <%= f.input :status %>
  </div>
  <div class="col-md-6">
    <%= f.input :priority %>
  </div>
  <div class="col-md-12 text-center">
    <%= link_to_remove_association "<i class='fa fa-times'></i> Remover sub-task".html_safe, f, class: 'btn btn-danger', title: 'remover subtask' %>
    <hr>
  </div>
</div>
