<%= javascript_include_tag 'tasks', defer: "defer" %>
<div class="content ">
  <div class="container-fluid">
    <div class="card card-default m-t-20">
      <div class="card-header separator">
        <div class="card-title">
          <h3>Lista de Tarefas</h3>
        </div>
        <div class="card-controls">
          <%= link_to "<i class='fa fa-plus'></i> Nova tarefa".html_safe, new_task_path, remote: true, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="card-block p-t-10">
        <table class="table table-hover table-condensed dataTable no-footer">
          <thead>
            <th>Título</th>
            <th>Status</th>
            <th>Prioridade</th>
            <th>Data de entrega</th>
            <th>Gerente</th>
            <th>Usuários</th>
            <th class="actions">ações</th>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
              <tr>
                <td><%= task.title %></td>
                <td><%= task.status %></td>
                <td><%= task.priority %></td>
                <td><%= task.delivery_date %></td>
                <td><%= task.manager_id %></td>
                <td><%= task.users.count %></td>
                <td><%=  %></td>
                <td class="actions">
                  <div class="btn-group">
                    <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_task_path(task), remote: true , class: "btn btn-primary" %>
                    <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, task, method: :delete, class: "btn btn-primary" %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="remote_container"></div>
