<div class="card card-default m-t-20">
  <div class="card-header separator">
    <div class="card-title">
      <h3><%= @event.number %> - <%= @event.title %></h3>
    </div>
  </div>
  <div class="card-block p-t-10">
    <p><strong>descrição:</strong> <%= @event.description %></p>
    <p><strong>Data:</strong> <%= l(@event.start_at) %> - <%= l(@event.end_at) %></p>
    <p><strong>Duração:</strong> <%= @event.subjects.sum(&:time) %> minutos </p>
    <p><strong>Presidente:</strong> <%= @event.president.try(:name) %></p>
    <p><strong>Secretário:</strong> <%= @event.secretary.try(:name) %></p>
    <p><strong>Endereço:</strong> <%= @event.address %></p>
    <p><strong>Local:</strong> <%= @event.location %></p>
    <p><strong>Forum:</strong> <%= @event.forum.try(:name) %></p>
    <p><strong>Situação:</strong> <%= t("event.situation.#{@event.situation}") %></p>
    <p class="m-t-30"><%= link_to "Confirmar presença na reunião", event_url(@event), class: "btn btn-primary" %></p>
  </div>
  <div class="card-header separator">
    <div class="card-title">
      <h3>Participantes da reunião</h3>
    </div>
  </div>
  <div class="card-block">
    <table class="table table-condensed no-footer">
      <thead>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Presença</th>
      </thead>
      <tbody>
        <% @event.events_users.each do |event_user| %>
          <tr>
            <td><%= event_user.user.name %></td>
            <td><%= event_user.user.email %></td>
            <td><%= t("event.confirmed.#{event_user.confirmed}") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-header separator">
    <div class="card-title">
      <h3>Assuntos da reunião</h3>
    </div>
  </div>
  <div class="card-block">
    <table class="table table-hover table-condensed dataTable no-footer">
      <thead>
        <th>Título</th>
        <th>Responsáveis</th>
        <th>Duração</th>
        <th>Descrição</th>
      </thead>
      <tbody>
        <% @event.subjects.each do |subject| %>
          <tr>
            <td><%= subject.title %></td>
            <td><%= subject.users.map(&:name).join(", ") %></td>
            <td><%= subject.time %> minutos</td>
            <td><%= subject.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
